
.navbar{
    position: sticky;
    top: 0;
    z-index: 1000; /* osigurava da bude iznad drugih sadržaja */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 7%;
    transition: 0.6s;
}

.logo{
    width: 160px;
    cursor: pointer;
}

ul{
    display: flex;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 30px 0 30px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.light ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.dark ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.dark .navbar{
    background: #000;
    color: #fff;
}

button{
    border: none;
    background: none;
    font-size: 40px;
}

.menu-icon-black {
    margin-top: 10px;
    display: none;
  }

@media (max-width: 870px) {
    ul {
        flex-direction: column;
        background-color: #f4f4f4;
        position: absolute;
        top: 89px;
        left: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        display: none;
    }

    ul.active {
        display: flex;
    }

    ul li {
        margin-bottom: 10px;
    }

    .menu-icon-black {
        display: block;
    }

    .toggle-icon {
        display: none;
    }

    .dark .navbar ul.active {
        background-color: #333;
    }
  }