  .reset-password-content {
    width: 100%;
    height: calc(100vh - 10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
    overflow: hidden; 
    transition: 0.6s;
  }
  
  .reset-password-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
    width: 90vw;
    max-width: 600px;
    background: white;
    padding: 3vh 2vw;
  }
  
  .reset-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    margin-top: 20px;
  }
  
  .reset-header-text {
    color: black;
    font-size: 32px;
    font-weight: 700;
  }
  
  .reset-underline {
    width: 50px;
    height: 4px;
    background: black;
    border-radius: 6px;
  }
  
  .reset-inputs {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .reset-input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
  }
  
  .reset-input img {
    margin: 0px 20px;
  }
  
  .reset-input input {
    height: 40px;
    width: calc(100% - 40px);
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 16px;
  }
  
  .reset-submit-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
  }
  
  .reset-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    color: white;
    background: #4c00b4;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .dark .reset-password-container {
    background-color: #333;
    color: #fff;
  }
  
  .dark .reset-header .reset-header-text {
    color: white;
  }
  
  .dark .reset-underline {
    background: white;
  }
  
  .dark .reset-inputs .input {
    background: #555;
    color: #ccc;
  }
  
  .dark .reset-inputs .input input {
    color: #ccc;
  }

  .reset-password-match {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .reset-password-match.mismatch {
    color: red;
  }
  
  .reset-password-match.match {
    color: green;
  }

  .reset-password-input-error {
    border: 2px solid red;
  }